@font-face
  font-family: 'icomoon'
  src:  url('assets/fonts/icomoon.eot?ct7n0j')
  src:
    url('assets/fonts/icomoon.svg?ct7n0j#icomoon') format('svg'),
    url('assets/fonts/icomoon.eot?ct7n0j#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.woff?ct7n0j') format('woff'),
    url('assets/fonts/icomoon.ttf?ct7n0j') format('truetype')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  color #f20044

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale



[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-creative-commons-noncommercial-eu:before
  content: "\e904"

.icon-chevron-small-right:before
  content: "\e905"

.icon-chevron-thin-down:before
  content: "\e928"

.icon-chevron-thin-left:before
  content: "\e906"

.icon-chevron-thin-right:before
  content: "\e907"

.icon-chevron-thin-up:before
  content: "\e908"

.icon-download:before
  content: "\e909"

.icon-trash:before
  content: "\e929"

.icon-upload:before
  content: "\e90a"

.icon-browser:before
  content: "\e90b"

.icon-cake:before
  content: "\e90c"

.icon-calendar:before
  content: "\e90d"

.icon-chat:before
  content: "\e90e"

.icon-cross:before
  content: "\e92a"

.icon-cup:before
  content: "\e90f"

.icon-database:before
  content: "\e910"

.icon-documents:before
  content: "\e911"

.icon-eye:before
  content: "\e912"

.icon-home:before
  content: "\e913"

.icon-login:before
  content: "\e914"

.icon-magnifying-glass:before
  content: "\e915"

.icon-man:before
  content: "\e916"

.icon-message:before
  content: "\e917"

.icon-share-alternitive:before
  content: "\e918"

.icon-share:before
  content: "\e919"

.icon-shop:before
  content: "\e91a"

.icon-shopping-basket:before
  content: "\e91b"

.icon-text-document:before
  content: "\e91c"

.icon-thumbs-up:before
  content: "\e91d"

.icon-trophy:before
  content: "\e91e"

.icon-search2:before
  content: "\e91f"

.icon-chat-3:before
  content: "\e920"

.icon-meter:before
  content: "\e921"

.icon-plus2:before
  content: "\e922"

.icon-minus:before
  content: "\e923"

.icon-chevron-right:before
  content: "\e900"

.icon-chevron-left:before
  content: "\e901"

.icon-location:before
  content: "\e902"

.icon-group:before
  content: "\e924"

.icon-eye2:before
  content: "\e925"

.icon-time:before
  content: "\e903"

.icon-thumbs-up2:before
  content: "\e926"

.icon-arrow-maximise-outline:before
  content: "\e927"

.icon-plus:before
  content: "\f067"

.icon-star:before
  content: "\f005"

.icon-check:before
  content: "\f00c"

.icon-flag:before
  content: "\f024"

.icon-times-circle:before
  content: "\f057"

.icon-check-circle:before
  content: "\f058"

.icon-gift:before
  content: "\f06b"

.icon-comments-o:before
  content: "\f0e6"

.icon-circle-o:before
  content: "\f10c"

.icon-star-half-empty:before
  content: "\f123"

.icon-star-half-full:before
  content: "\f123"

.icon-star-half-o:before
  content: "\f123"

.icon-location-arrow:before
  content: "\f124"

.icon-weibo:before
  content: "\f18a"

.icon-qq:before
  content: "\f1d6"

.icon-wechat:before
  content: "\f1d7"

.icon-weixin:before
  content: "\f1d7"

.icon-venus:before
  content: "\f221"

.icon-mars:before
  content: "\f222"

.icon-calendar-check-o:before
  content: "\f274"

.icon-commenting-o:before
  content: "\f27b"

.icon-coin-yen:before
  content: "\e93e"

.icon-search:before
  content: "\e986"



